In [ ]:
import pandas as pd
import os, shutil, zipfile

In [ ]:
def load_and_stack_data(zip_path):
    # Extract the zip file
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall('data/extracted')

    # Get a list of all CSV files in the extracted folder and concatenate into one DataFrame
    csv_files = [os.path.join('data/extracted', file) for file in os.listdir('data/extracted') if file.endswith('.csv')]
    dataframes = [pd.read_csv(csv, low_memory=False) for csv in sorted(csv_files)]
    shutil.rmtree('data/extracted')
    
    return pd.concat(dataframes, ignore_index=True)

In [13]:
# Path to the zip file
gen_path = 'data\generation.zip'
load_path = 'data\load.zip'
market_path = 'data\market.zip'

gen_data = load_and_stack_data(gen_path)
load_data = load_and_stack_data(load_path)
market_data = load_and_stack_data(market_path)

In [12]:
gen_data

,MTU (UTC),Area,Production Type,Generation (MW)
0,01/01/2023 00:00:00 - 01/01/2023 00:15:00,BZN|DE-LU,Biomass,4020.74
1,01/01/2023 00:15:00 - 01/01/2023 00:30:00,BZN|DE-LU,Biomass,4030.47
2,01/01/2023 00:30:00 - 01/01/2023 00:45:00,BZN|DE-LU,Biomass,4023.84
3,01/01/2023 00:45:00 - 01/01/2023 01:00:00,BZN|DE-LU,Biomass,4020.65
4,01/01/2023 01:00:00 - 01/01/2023 01:15:00,BZN|DE-LU,Biomass,3992.78
...,...,...,...,...
2209531,31/12/2025 22:45:00 - 31/12/2025 23:00:00,BZN|DE-LU,Wind Onshore,32036.98
2209532,31/12/2025 23:00:00 - 31/12/2025 23:15:00,BZN|DE-LU,Wind Onshore,31719.79
2209533,31/12/2025 23:15:00 - 31/12/2025 23:30:00,BZN|DE-LU,Wind Onshore,32163.05
2209534,31/12/2025 23:30:00 - 31/12/2025 23:45:00,BZN|DE-LU,Wind Onshore,33213.54
2209535,31/12/2025 23:45:00 - 01/01/2026 00:00:00,BZN|DE-LU,Wind Onshore,33667.50

In [14]:
load_data

,MTU (UTC),Area,Actual Total Load (MW),Day-ahead Total Load Forecast (MW)
0,01/01/2023 00:00 - 01/01/2023 00:15,BZN|DE-LU,38119.14,40841.27
1,01/01/2023 00:15 - 01/01/2023 00:30,BZN|DE-LU,38014.13,40271.14
2,01/01/2023 00:30 - 01/01/2023 00:45,BZN|DE-LU,38419.37,39746.06
3,01/01/2023 00:45 - 01/01/2023 01:00,BZN|DE-LU,38072.24,39249.27
4,01/01/2023 01:00 - 01/01/2023 01:15,BZN|DE-LU,37648.93,39059.02
...,...,...,...,...
105211,31/12/2025 22:45 - 31/12/2025 23:00,BZN|DE-LU,46883.98,49862.91
105212,31/12/2025 23:00 - 31/12/2025 23:15,BZN|DE-LU,45866.93,47568.38
105213,31/12/2025 23:15 - 31/12/2025 23:30,BZN|DE-LU,45497.79,46773.53
105214,31/12/2025 23:30 - 31/12/2025 23:45,BZN|DE-LU,45575.26,46632.89
105215,31/12/2025 23:45 - 01/01/2026 00:00,BZN|DE-LU,45464.99,46143.82

In [15]:
market_data

,Time Interval (UTC),Out Area,In Area,Classification Sequence,Instance Code,MTU (UTC),Offered Capacity from BZN|DE-LU (MW),Offered Capacity to BZN|DE-LU (MW)
0,31/12/2022 23:00 - 01/01/2023 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,9999add8e3063604e020594edffa423f,31/12/2022 23:00 - 01/01/2023 00:00,2500.0,2110.0
1,31/12/2022 23:00 - 01/01/2023 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,9999add8e3063604e020594edffa423f,01/01/2023 00:00 - 01/01/2023 01:00,2500.0,2130.0
2,31/12/2022 23:00 - 01/01/2023 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,9999add8e3063604e020594edffa423f,01/01/2023 01:00 - 01/01/2023 02:00,2500.0,2170.0
3,31/12/2022 23:00 - 01/01/2023 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,9999add8e3063604e020594edffa423f,01/01/2023 02:00 - 01/01/2023 03:00,2500.0,2130.0
4,31/12/2022 23:00 - 01/01/2023 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,9999add8e3063604e020594edffa423f,01/01/2023 03:00 - 01/01/2023 04:00,2500.0,2140.0
...,...,...,...,...,...,...,...,...
81456,31/12/2025 23:00 - 01/01/2026 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,1358835a1fb5d4c6e707c567557fa823,01/01/2026 21:45 - 01/01/2026 22:00,2500.0,2500.0
81457,31/12/2025 23:00 - 01/01/2026 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,1358835a1fb5d4c6e707c567557fa823,01/01/2026 22:00 - 01/01/2026 22:15,2500.0,2500.0
81458,31/12/2025 23:00 - 01/01/2026 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,1358835a1fb5d4c6e707c567557fa823,01/01/2026 22:15 - 01/01/2026 22:30,2500.0,2500.0
81459,31/12/2025 23:00 - 01/01/2026 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,1358835a1fb5d4c6e707c567557fa823,01/01/2026 22:30 - 01/01/2026 22:45,2500.0,2500.0
81460,31/12/2025 23:00 - 01/01/2026 23:00,BZN|DE-LU,BZN|DK1,Without Sequence,1358835a1fb5d4c6e707c567557fa823,01/01/2026 22:45 - 01/01/2026 23:00,2500.0,2500.0